<div class="container py-5">
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Montadora</th>
                <th scope="col">Preço</th>
                <th scope="col">Ano</th>
                <th scope="col" class="text-end">Opções</th>
            </tr>
        </thead>
        <tbody *ngFor="let car of cars">
            <tr>
                <th scope="row">{{car.id}}</th>
                <td>{{car.name}}</td>
                <td>{{car.manufacturer}}</td>
                <td>{{car.price}}</td>
                <td>{{car.year}}</td>
                <td class="text-end">
                    <button class="btn btn-success me-3 col-4">Alterar</button>
                    <button class="btn btn-danger col-4">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>